.muttiselect {
  position: relative;
  min-width: 80px;
}

.muttiselect__element {
  display: flex;
  align-items: center;
  padding: 4px;
  border: 1px #dddddd solid;
  border-radius: 5px;
}

.multiselect__field {
  display: flex;
}

.multiselect__label {
  position: absolute;
  top: -8px;
  left: 20px;
  font-size: 10px;
  line-height: 10px;
  padding: 0 10px;
  border: 1px #3a354199 solid;
  background-color: #f4f4f4;
  border-radius: 2px;
}

.mutliselect__selection {
  margin-right: 2px;
}

.mutliselect__selection-text {
  color: #d3d3d3;
}

.mutliselect__chip {
  display: flex;
  align-items: center;
  border-radius: 2px;
  background-color: #e4f2fd;
  color: #4ea4cc;
  margin-right: 5px;
}
.mutliselect__chip-text {
  padding: 0 5px;
  white-space: nowrap;
}

.mutliselect__append {
  display: flex;
  width: 20px;
  margin-left: auto;
  color: #d3d3d3;
}

.mutliselect__dropdown {
  width: 100%;
  max-height: 50vh;
  position: absolute;
  overflow-y: auto;
  border: 1px #dddddd solid;
  border-radius: 5px;
  color: #828684;
  :hover {
    background-color: #f5f5f5;
  }
}

.mutliselect__dropdown-element {
  display: flex;
  cursor: pointer;
}
.mutliselect__dropdown-element-checkbox {
  accent-color: #029ce2;
  margin-left: 10px;
}
.mutliselect__dropdown-element-title {
  margin-left: 10px;
}
